@model Common.Models.Post

@{
    ViewBag.Title = "Create Post";
}

<h2>Create Post</h2>
@using (Html.BeginForm("Create", "Posts"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "small text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @cols= 80, @rows = 10})
        @Html.ValidationMessageFor(m => m.Content, null, new { @class = "small text-danger" })
    </div>

    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.UserName)

    <a href="@Url.Action("Index", "Home")" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Back</a>
    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-plus"></i> Create Post</button>
}
