@model FrontEnd.Models.PostsViewModel
<div class="row mb-4 mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.Post.Title</h5>
                <p class="small text-muted mb-2">submitted @Model.Post.TimeStamp by @Model.Post.UserName</p>
                @Model.Post.Content
            </div>
            <div class="card-footer">
                @using (Html.BeginForm("Create", "Comments"))
                {
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Comment.Content, new { @class = "form-control" })
                    </div>

                    @Html.Hidden("Comment.PostId", Model.Post.Id)

                    <button type="submit" class="btn btn-primary">Reply</button>
                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Comments</h3>
        <ul class="list-group">
            @foreach (var item in Model.Comments.Where(m => m.ParentCommentId == 0))
            {
                <li class="list-group-item">
                    <p class="text-success small mb-2">@item.UserName <span class="text-muted">@item.TimeStamp</span></p>
                    <p class="mb-2">@item.Content</p>
                    <p><a class="btn-reply small" href="#" data-comment-id="@item.Id">Reply</a></p>

                    <div class="reply-form" style="display: none;">
                        @using (Html.BeginForm("Create", "Comments"))
                        {
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Comment.Content, new { @class = "form-control", @id = "" })
                            </div>

                            @Html.Hidden("Comment.PostId", Model.Post.Id, new { @id = "" })
                            @Html.Hidden("Comment.ParentCommentId", item.Id, new { @id = "" })

                            <button type="submit" class="btn btn-primary btn-sm btn-save">Save</button>
                            <button class="btn btn-danger btn-sm btn-cancel">Cancel</button>
                        }
                    </div>

                </li>

                // Replys
                foreach(var item2 in Model.Comments.Where(m => m.ParentCommentId == item.Id))
                {
                    <li class="list-group-item ml-4">
                        <p class="text-success small mb-2">@item.UserName <span class="text-muted">@item.TimeStamp</span></p>
                        <p class="mb-2">RE: @item.Content</p>
                        <p><a class="btn-reply small" href="#" data-comment-id="@item.Id">Reply</a></p>
                    </li>
                }
            }
        </ul>
    </div>
</div>

@section Scripts 
{
    <script>
        $(document).ready(function () {
            $('.btn-reply').on('click', function (e) {
                e.preventDefault();

                var parent = $(e.target).closest('.list-group-item');
                var form = parent.find('.reply-form');

                form.toggle('drop', 750);
            });

            $('.btn-cancel').on('click', function (e) {
                e.preventDefault();

                var parent = $(e.target).closest('.list-group-item');
                var form = parent.find('.reply-form');

                form.toggle('drop', 750);
            });
        });
    </script>
}