@model Common.Models.SubmissionDetails

<li class="list-group-item px-1" data-id="@Model.Submission.Id">
    <table class="w-100">
        <tbody>
            <tr>
                <td style="width: 10%;" class="text-center">
                    @Html.Partial("~/Views/Submissions/_VoteButtons.cshtml", Model.VoteButtons)
                </td>
                <td style="width: 90%;" class="pl-2">
                    <h5>
                        @if (Model.Submission.Type == Common.Models.SubmissionType.Text)
                        {
                            <a href="@Url.Action("View", "Submissions", new { @id = Model.Submission.Id })">@Model.Submission.Title</a>
                        }
                        else
                        {
                            <a href="@Model.Submission.URL">@Model.Submission.Title</a>
                        }

                    </h5>
                    <p class="small text-muted mb-2">submitted @Model.TimeSinceCreated by @Model.Submission.UserName</p>
                    <p class="mb-0"><a href="@Url.Action("View", "Submissions", new { @id = Model.Submission.Id })">@Model.NumComments comments</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</li>