@model FrontEnd.Models.CreateSubmissionViewModel

@{
    ViewBag.Title = "Create Submission";
}

<div class="row mt-2">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <p class="mb-1">Create a new @Model.Type Submission</p>

                @if (Model.Type == Common.Models.SubmissionType.Text)
                {
                    <p class="small mb-0"><a class="text-muted" href="@Url.Action("Create", "Submissions", new { @type = Common.Models.SubmissionType.Link })">Want to create a Link Submission instead?</a></p>
                }
                else
                {
                    <p class="small mb-0"><a class="text-muted" href="@Url.Action("Create", "Submissions", new { @type = Common.Models.SubmissionType.Text })">Want to create a Text Submission instead?</a></p>
                }
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Submissions"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Submission.Title)
                        @Html.TextBoxFor(m => m.Submission.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Submission.Title, null, new { @class = "small text-danger" })
                    </div>

                    if (Model.Type == Common.Models.SubmissionType.Text)
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Submission.Content)
                            @Html.TextAreaFor(m => m.Submission.Content, new { @class = "form-control", @cols = 80, @rows = 10 })
                            @Html.ValidationMessageFor(m => m.Submission.Content, null, new { @class = "small text-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Submission.URL)
                            @Html.TextBoxFor(m => m.Submission.URL, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Submission.URL, null, new { @class = "small text-danger" })
                        </div>
                    }

                    @Html.HiddenFor(m => m.Submission.UserId)
                    @Html.HiddenFor(m => m.Submission.UserName)
                    @Html.HiddenFor(m => m.Type)

                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
                    <button type="submit" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus"></i> Create Submission</button>
                }
            </div>
        </div>
    </div>
</div>
    
