@model FrontEnd.Models.CreateSubmissionViewModel

@{
    ViewBag.Title = "Create Submission";
}

<div class="row mt-2">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                Create a new submission
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Submissions"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Submission.Title)
                        @Html.TextBoxFor(m => m.Submission.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Submission.Title, null, new { @class = "small text-danger" })
                    </div>

                    @*@Html.LabelFor(m => m.Type)
                    <div class="form-check-inline">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Type" id="type-radio-1" value="Text" checked>
                            <label class="form-check-label" for="type-radio-1">
                                Text
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Type" id="type-radio-2" value="Link">
                            <label class="form-check-label" for="type-radio-2">
                                Link
                            </label>
                        </div>
                    </div>*@

                    if (Model.Type == Common.Models.SubmissionType.Text)
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Submission.Content)
                            @Html.TextAreaFor(m => m.Submission.Content, new { @class = "form-control", @cols = 80, @rows = 10 })
                            @Html.ValidationMessageFor(m => m.Submission.Content, null, new { @class = "small text-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Submission.URL)
                            @Html.TextBoxFor(m => m.Submission.URL, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Submission.URL, null, new { @class = "small text-danger" })
                        </div>
                    }

                    @Html.HiddenFor(m => m.Submission.UserId)
                    @Html.HiddenFor(m => m.Submission.UserName)
                    @Html.Hidden("Type", Model.Type)

                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
                    <button type="submit" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus"></i> Create Submission</button>
                }
            </div>
        </div>
    </div>
</div>
    
