@model FrontEnd.Models.SubmissionsViewModel

@{ 
    ViewBag.Title = Model.Submission.Title;
}

<div class="row mb-4 mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                @if (Model.Submission.Type == Common.Models.SubmissionType.Link)
                {
                    <h5 class="card-title">
                        <a href="@Model.Submission.URL">@Model.Submission.Title</a>
                    </h5>
                }
                else
                {
                    <h5 class="card-title">@Model.Submission.Title</h5>
                }

                <p class="small text-muted mb-2">submitted @Model.Submission.TimeStamp by @Model.Submission.UserName</p>
                @Model.Submission.Content
            </div>
            <div class="card-footer">
                @using (Html.BeginForm("Create", "Comments"))
                {
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.NewComment.Content, new { @class = "form-control" })
                    </div>

                    @Html.HiddenFor(m => m.Submission.Id)

                    <button type="submit" class="btn btn-primary">Reply</button>
                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Comments</h3>
        <ul class="list-group">
            @if (Model.Comments.Any())
            {
                foreach (var parent in Model.Comments)
                {
                    if (parent.ParentCommentId == 0)
                    {
                        <li class="list-group-item">
                            <p class="text-success small mb-2">@parent.UserName <span class="text-muted">@parent.TimeStamp</span></p>
                            <p class="mb-2">@parent.Content</p>
                            <p><a class="btn-reply small" href="#">Reply</a></p>

                            <div class="d-none reply-form">
                                @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "mb-2" }))
                                {
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.NewComment.Content, new { @class = "form-control" })
                                    </div>

                                    @Html.HiddenFor(m => m.Submission.Id)
                                    @Html.Hidden("NewComment.ParentCommentId", parent.Id)

                                    <button type="button" class="btn btn-light btn-sm btn-cancel">Cancel</button>
                                    <button type="submit" class="btn btn-primary btn-sm">Reply</button>
                                }
                            </div>
                            
                            <ul class="list-group">
                                @foreach (var child in Model.Comments)
                                {
                                    if (child.ParentCommentId == parent.Id)
                                    {
                                        <li class="list-group-item">
                                            <p class="text-success small mb-2">@child.UserName <span class="text-muted">@child.TimeStamp</span></p>
                                            <p class="mb-2">@child.Content</p>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>

@section Scripts 
{
    <script>
        $(document).ready(function () {
            $('.btn-reply').on('click', function (e) {
                e.preventDefault();

                var parent = $(e.target).closest('.list-group-item');
                var form = parent.find('.reply-form');

                form.toggleClass('d-none');
            });

            $('.btn-cancel').on('click', function (e) {
                e.preventDefault();

                var parent = $(e.target).closest('.list-group-item');
                var form = parent.find('.reply-form');

                form.toggleClass('d-none');
            });
        });
    </script>
}