@model FrontEnd.Models.SubmissionsViewModel

<div class="row mb-4 mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.Submission.Title</h5>
                <p class="small text-muted mb-2">submitted @Model.Submission.TimeStamp by @Model.Submission.UserName</p>
                @Model.Submission.Content
            </div>
            <div class="card-footer">
                @using (Html.BeginForm("Create", "Comments"))
                {
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.NewComment.Content, new { @class = "form-control" })
                    </div>

                    @Html.HiddenFor(m => m.Submission.Id)

                    <button type="submit" class="btn btn-primary">Reply</button>
                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Comments</h3>
        <ul class="list-group">
            @if (Model.Comments.Any())
            {
                foreach (var parent in Model.Comments)
                {
                    if (parent.ParentCommentId == 0)
                    {
                        <li class="list-group-item">
                            @parent.Id -
                            @parent.Content

                            <ul class="list-group">
                                @foreach (var child in Model.Comments)
                                {
                                    if (child.ParentCommentId == parent.Id)
                                    {
                                        <li class="list-group-item bg-light">
                                            @child.Id -
                                            @child.Content
                                        </li>
                                    }


                                }
                            </ul>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>

@section Scripts 
{
    <script>
        $(document).ready(function () {
            $('.btn-reply').on('click', function (e) {
                e.preventDefault();

                var parent = $(e.target).closest('.list-group-item');
                var form = parent.find('.reply-form');

                form.toggle('drop', 750);
            });

            $('.btn-cancel').on('click', function (e) {
                e.preventDefault();

                var parent = $(e.target).closest('.list-group-item');
                var form = parent.find('.reply-form');

                form.toggle('drop', 750);
            });
        });
    </script>
}