@model FrontEnd.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.Posts)
            {
                <li class="list-group-item">
                    <h5><a href="@Url.Action("View", "Posts", new { @id = item.Post.Id })">@item.Post.Title</a></h5>
                    <p class="small text-muted mb-2">submitted @item.Post.TimeStamp by @item.Post.UserName</p>
                    <p><a href="@Url.Action("View", "Posts", new { @id = item.Post.Id })">@item.NumComments comments</a></p>
                </li>
            }
        </ul>
    </div>
</div>