@model FrontEnd.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-9">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.Posts)
            {
                <li class="list-group-item">
                    <h5><a href="@Url.Action("View", "Posts", new { @id = item.Post.Id })">@item.Post.Title</a></h5>
                    <p class="small text-muted mb-2">submitted @item.TimeSinceCreated by @item.Post.UserName</p>
                    <p><a href="@Url.Action("View", "Posts", new { @id = item.Post.Id })">@item.NumComments comments</a></p>
                </li>
            }
        </ul>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Search", "Posts"))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchTerm" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                }

                <p><a class="btn btn-primary btn-block" href="@Url.Action("Create", "Posts")">Create New Post</a></p>
            </div>
        </div>
    </div>
</div>