@model IEnumerable<Common.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <h5><a href="@Url.Action("View", "Posts", new { @id = item.Id })">@item.Title</a></h5>
                    <p class="small text-muted mb-2">submitted @item.TimeStamp by @item.UserName</p>
                    <p><a href="@Url.Action("View", "Posts", new { @id = item.Id })">0 comments</a></p>
                </li>
            }
        </ul>
    </div>
</div>